/* CSS Document 

Color Palette:
	#1b222c	(27,34,44)
	#12151c	(18,21,28)
	#661b1c	(102,27,28)
	#531516	(83,21,22)
	#191d26	(25,29,38)
*/

@font-face {
  	font-family: panton-bold;
  	src: url("../fonts/panton/Panton-BlackCaps.otf");
}

@font-face {
	font-family: panton-light;
  	src: url("../fonts/panton/Panton-LightCaps.otf");
}

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(to top, #191d26, #531516);	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	
	color: white;
	font-family: 'panton-bold', sans-serif;
	font-size: 24px;	
	
	display: flex;
	justify-content: center; 
	
	height: 100%;
	padding: 40px 0px 0px 0px;

}

h1 {
	color: white;
	font-family: 'panton-bold', sans-serif;
	font-size: 9vw;
	margin: 15px;
}

a {
	color: white;
	text-decoration-color: white;
	transition: color 0.3s ease;
}

a:hover { color: gray; }
a:active { color: dimgray; }

.footer {
	
	font-family: 'panton-light', sans-serif;
	font-size: max(1vw, 10px);
	font-color: #313234;
	margin: 200px 0px 50px 0px;
}

.white-svg {
	fill:#fff;
	transition: 0.3s ease;
}

.top-icon:hover .white-svg {
	fill: gray;
}

.top-icon:active .white-svg {
	fill: dimgray;
}

.top-icon {
	width: auto;
	height: 4vw;
	min-height: 35px;
	display: block;
	margin: auto; 
 	
	margin: 0px 2.5vw;
	padding: 0px 0px 8px 0px;
	transition: 0.3s ease;
}

.icons {
	display: flex;
	justify-content: center; 
	align-items: center;
	margin: 0px 0px 50px 0px;
}

.highlighted-text {
	background: linear-gradient(to bottom right, red, yellow);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.hoodie-row {
	margin: 10vw 0px;
	display: flex;
}

.column-left {
	display: flex;
	justify-content: right; 
	width: 50%;
	padding: 0px 4vw;
	float: left;	
}

.column-right {
    display: flex;
    width: 50%;
	
    float: left;
	text-align: left;
    align-items: center;
	
	font-size: min(max(3vw, 20px), 200px);
	padding: 0px 4vw;
}

.hoodie-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
	.column-left {
		width: 100%;
		justify-content: center; 
	}
	.column-right {
		width: 100%;
		margin-top: 50px;
		text-align: center;
		justify-content: center; 
	}
	.footer {
		margin-top: 50px;
	}
	.hoodie-row {
		display: block;
	}
	.hoodie-text-contianer {}
}

#hoodie-img-container {
	position: relative;
	max-width: min(30vw, 500px);
	width: 100%;
	height: auto;
}

#hoodie-img-container::before { /* gray gradient */
	
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(100%);
	height: 100%;
	z-index: 1;
	box-sizing: border-box; 
	
	display: flex;
	justify-content: center; 
	align-items: center;
	
	border: min(.5vw, 8px) solid transparent;
	border-image: linear-gradient(to bottom, #999, #ccc);
	border-image-slice: 1;
	transition: .5s ease;

	opacity: var(--gray-border-opacity, 1);
	pointer-events: none;
}

#hoodie-img-container::after { /* rainbow gradient */
	
	content: '';
	position: absolute;
/*
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
*/
	
	top: calc(-1 * min(.5vw, 8px));
	left: calc(-1 * min(.5vw, 8px));
	width: calc(100% + calc(min(.5vw, 8px))*2);
	height: calc(100% + calc(min(.5vw, 8px))*2);
	
	box-sizing: border-box; 
	z-index: -1;
	
	display: flex;
	justify-content: center; 
	align-items: center;
	
/*	border-radius: calc(2 * min(.5vw, 8px));*/
	
	background: linear-gradient(to bottom, red, yellow, green, blue, red, yellow, green, blue);
	background-size: 500% 500%;
	animation: gradientAnimation 5s linear infinite;
	transition: 0.5s ease;
	
	opacity: var(--rainbow-border-opacity, 0);
	pointer-events: none;
}

#hoodie-img {
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
}

#hoodie-img:hover {
	filter: brightness(.7);
}

#noscript-message {
	display: flex;
	justify-content: center; 
	align-items: center;
	margin: 100px 0px 0px 0px;
}

#section-hoodie, #section-footer, #section-header, #section-icons {
	opacity: 0;
	transition: .5s ease;
}

#main-content {
	display: none;
}

@keyframes gradientAnimationOld {
	0% { border-image-source: linear-gradient(to bottom, red, yellow, green, blue); }
	25% { border-image-source: linear-gradient(to bottom, blue, red, yellow, green); }
	50% { border-image-source: linear-gradient(to bottom, green, blue, red, yellow); }
	75% { border-image-source: linear-gradient(to bottom, yellow, green, blue, red); }
	100% { border-image-source: linear-gradient(to bottom, red, yellow, green, blue); }
}

@keyframes gradientAnimation {
	0% { background-position: 0% 0%; }
	100% { background-position: 0% 71.2%; }
}


